<div class="container sign-up ">
  <div class="row center ">
    <div class="col s12 m12 l12 card-panel">
      <h3 class=" header center-align">Log in </h3>
      <%= form_for :sessions, html: { class: "col s12 " } do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :email, id: "email", class: "validate" %>
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.label :password, id: "password", class: "validate" %>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center-align">
            <%= f.button class: "btn waves-effect waves-light" do %>
              Log in
              <i class="material-icons right">arrow_forward</i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>