<%= render 'errormessages'%>
<div class="container sign-up ">
  <div class="row center ">
    <div class="col s12 m12 l12 card-panel">
      <h3 class=" header center-align">Edit your profile</h3>
      <%= form_for @student, html: { class: "col s12 " } do |f| %>
        <div class="row">
          <div class="input-field col s12 ">
            <i class="material-icons prefix">account_circle</i>
            <%= f.label :name, "Full Name", id: "full_name", class: "validate active" %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :email, id: "email", class: "validate active" %>
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.label :password, id: "password", class: "validate" %>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.label :password_confirmation, "Confirm Password", id: "password_confirmation", class: "validate" %>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center-align">
            <%= f.submit "Submit changes", class: "btn waves-effect waves-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
