<div class="row">
  <div class="col s12">
    <h3 class="center-align" > Sign up! </h3>
  </div>
</div>
<div class="row">
  <%= form_for @student, html: { class: "col s12  fstyle " } do |f| %>
    <div class="row">
      <div class="input-field col s7 offset-s3 mt-4">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :name, "Full Name", id: "full_name", class: "validate" %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s7 offset-s3 ">
        <i class="material-icons prefix">email</i>
        <%=  f.label :email,id:"email", class:"validate" %>
        <%= f.text_field :email  %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s7 offset-s3 center-align ">
        <%= f.submit "Submit", class: "btn waves-effect waves-light " %>
      </div>
    </div>
  <% end %>
</div>